.character {
  max-width: 80rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 0 3rem;
}

.character h1 {
  color: #392c43;
}


.gif_kafe {
  align-self: center;
  margin-bottom: 0;
  width: 400px;
  margin-top: 1rem;
  bottom: 4rem;
  position: fixed;
}
