.character {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 0 10rem;
}

.character h1 {
  color: #392c43;
}

.character img {
  width: 40%;
}

.gif_kafe img {
  align-self: flex-end;
  margin-bottom: 0;
  width: 40px;
}
