.creators {
  min-height: calc(100vh - 7rem);
  padding-bottom: 3rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.creators_container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}


.business-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 510px;
  height: 30%;
  padding: 2rem;
  background-color: #F4EDF9;
  border: black solid 0.1rem;
  box-shadow: -3px 4px rgb(129, 129, 129);
  border-radius: 12px;
  justify-content: space-between;
  flex: 1;
}

.business-card__image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.business-card__name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.business-card__content {
  flex: 1;
}


a {
  text-decoration: none;
  background-color: #392c43;
  color: white;
  border-radius: 5px;
}

a:hover {
  background-color: #040304;
  transform: translateY(5px);
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  color: #392c43;
}

.text {
  font-size: 12px;
  text-align: left;
}

.main-container {
  margin: 1rem;
  padding: 1rem;
  text-align: justify;
}

.footer {
  background-color: #B6ACBD;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 3rem;
  text-align: center;
  padding: 0;
}
