.creators_container {
  display: flex;
  gap: 5%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.business-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  padding: 2rem;
  background-color: #F4EDF9;
  border: black solid 0.1rem;
  box-shadow: -3px 4px rgb(129, 129, 129);
  border-radius: 12px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.business-card__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.business-card__name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}
