.about {
  width: 100%;
  min-height: calc(100vh - 7rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

h1 {
  color: #392c43;
  text-align: left;
}

.about p,
h1 {
  padding-left: 4rem;
  padding-right: 2rem;
}

.about_img {
  display: flex;
  gap: 5rem;
  height: 100%;
  margin: 4rem;
  justify-content: center;
}

.screenshot {
  width: 10rem;
  border: black solid 0.2rem;
  box-shadow: -3px 4px rgb(129, 129, 129);
  border-radius: 12px;
}

.footer {
  background-color: #B6ACBD;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 3rem;
  text-align: center;
  padding: 0;
}
