.about {
  max-width: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  padding-bottom: 0;
  padding: 0 3rem;
}

h1 {
  color: #392c43;
}

.about_img {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}

.screenshot {
  width: 10rem;
  border: black solid 0.2rem;
  box-shadow: -3px 4px rgb(129, 129, 129);
  border-radius: 12px;
}
