.footer {
  background-color: #B6ACBD;
  height: 4rem;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0px;
  position: fixed;
  right: 0px;
}

.footer p {
  color: rgb(77, 77, 77);
  font-size: 0.8rem;
}
