/* .footer {
  background-color: #B6ACBD;
  position: relative;
  height: inherit;
  /* height: 50px;
  margin-bottom: 0px;
  /* display: flex; */
/* align-items: center; */
/* justify-content: center;
  width: 100%;
  bottom: 0px; */
/* position: fixed; */
/* right: 0px; */
/* } */

.footer {
  background-color: #B6ACBD;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 3rem;
  text-align: center;
  padding: 0;
}

.footer p {
  color: rgb(77, 77, 77);
  font-size: 0.8rem;
}
